body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
#_idContainer000 {
	-ms-transform:translate(785.082px,584.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(785.082px,584.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:128.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(785.082px,584.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(785.082px,584.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:338.21px;
}
#_idContainer001 {
	-ms-transform:translate(612.024px,368.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(612.024px,368.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:200.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(612.024px,368.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(612.024px,368.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:695.95px;
}
#_idContainer002 {
	-ms-transform:translate(58.667px,268.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(58.667px,268.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:569.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.667px,268.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(58.667px,268.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:986.30px;
}
#_idContainer003 {
	-ms-transform:translate(1106.476px,143.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1106.476px,143.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:784.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1106.476px,143.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1106.476px,143.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:648.12px;
}
#_idContainer004 {
	-ms-transform:translate(-1.000px,788.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.000px,788.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:293.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.000px,788.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-1.000px,788.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1064.00px;
}
#_idContainer005 {
	-ms-transform:translate(580.706px,27.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(580.706px,27.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:110.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(580.706px,27.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(580.706px,27.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:482.29px;
}
#_idContainer006 {
	-ms-transform:translate(674.151px,134.471px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(674.151px,134.471px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:654.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(674.151px,134.471px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(674.151px,134.471px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:310.24px;
}
#_idContainer007 {
	-ms-transform:translate(1366.765px,-28.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1366.765px,-28.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:547.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1366.765px,-28.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1366.765px,-28.032px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.23px;
}
#_idContainer008 {
	-ms-transform:translate(1061.999px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.999px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:544.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.999px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.999px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:343.00px;
}
#_idContainer009 {
	-ms-transform:translate(1083.391px,539.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1083.391px,539.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:249.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1083.391px,539.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1083.391px,539.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:417.69px;
}
#_idContainer010 {
	-ms-transform:translate(1502.309px,519.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1502.309px,519.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:268.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1502.309px,519.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1502.309px,519.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:427.69px;
}
#_idContainer011 {
	-ms-transform:translate(1083.391px,788.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1083.391px,788.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1083.391px,788.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1083.391px,788.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:848.61px;
}
#_idContainer012 {
	-ms-transform:translate(1061.999px,497.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.999px,497.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:290.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.999px,497.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.999px,497.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:552.10px;
}
#_idContainer013 {
	-ms-transform:translate(1061.999px,788.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.999px,788.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.999px,788.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.999px,788.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:440.31px;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:788.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:581.71px;
}
#_idContainer015 {
	-ms-transform:translate(72.764px,883.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(72.764px,883.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(72.764px,883.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(72.764px,883.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.59px;
}
#_idContainer016 {
	-ms-transform:translate(1338.293px,-1.618px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1338.293px,-1.618px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:789.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1338.293px,-1.618px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1338.293px,-1.618px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:585.71px;
}
#_idContainer017 {
	-ms-transform:translate(857.000px,787.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(857.000px,787.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:296.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(857.000px,787.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(857.000px,787.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1064.00px;
}
#_idContainer018 {
	-ms-transform:translate(857.000px,40.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(857.000px,40.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:116.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(857.000px,40.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(857.000px,40.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:482.29px;
}
#_idContainer019 {
	-ms-transform:translate(949.711px,178.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(949.711px,178.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:610.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(949.711px,178.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(949.711px,178.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:318.30px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:517.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-17.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:858.00px;
}
#_idContainer021 {
	-ms-transform:translate(0.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:429.00px;
}
#_idContainer022 {
	-ms-transform:translate(429.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(429.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(429.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(429.000px,495.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:429.00px;
}
#_idContainer023 {
	-ms-transform:translate(0.000px,786.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,786.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,786.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,786.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:858.00px;
}
#_idContainer024 {
	-ms-transform:translate(961.699px,154.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(961.699px,154.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:632.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(961.699px,154.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(961.699px,154.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:272.89px;
}
#_idContainer025 {
	-ms-transform:translate(480.293px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(480.293px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:813.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(480.293px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(480.293px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:581.71px;
}
#_idContainer026 {
	-ms-transform:translate(-1.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:290.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-1.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1064.00px;
}
#_idContainer027 {
	-ms-transform:translate(-1.000px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.000px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:108.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.000px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-1.000px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:482.29px;
}
#_idContainer028 {
	-ms-transform:translate(157.186px,880.027px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(157.186px,880.027px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(157.186px,880.027px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(157.186px,880.027px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.44px;
}
#_idContainer029 {
	-ms-transform:translate(93.042px,394.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(93.042px,394.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:686.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(93.042px,394.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(93.042px,394.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:317.70px;
}
#_idContainer030 {
	-ms-transform:translate(1502.858px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1502.858px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1502.858px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1502.858px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:428.43px;
}
#_idContainer031 {
	-ms-transform:translate(1061.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:445.84px;
}
#_idContainer032 {
	-ms-transform:translate(1061.999px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.999px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:599.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.999px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.999px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:869.28px;
}
#_idContainer033 {
	-ms-transform:translate(1931.284px,850.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1931.284px,850.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:869.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1931.284px,850.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1931.284px,850.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.04px;
}
#_idContainer034 {
	-ms-transform:translate(858.000px,292.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(858.000px,292.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:787.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(858.000px,292.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(858.000px,292.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:581.55px;
}
#_idContainer035 {
	-ms-transform:translate(857.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(857.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:292.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(857.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(857.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1063.85px;
}
#_idContainer036 {
	-ms-transform:translate(1438.554px,291.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1438.554px,291.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1438.554px,291.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1438.554px,291.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:482.29px;
}
#_idContainer037 {
	-ms-transform:translate(1532.637px,415.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1532.637px,415.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:551.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1532.637px,415.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1532.637px,415.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:302.69px;
}
#_idContainer038 {
	-ms-transform:translate(132.377px,378.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.377px,378.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.377px,378.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.377px,378.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.80px;
}
#_idContainer039 {
	-ms-transform:translate(416.706px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(416.706px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(416.706px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(416.706px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:441.29px;
}
#_idContainer040 {
	-ms-transform:translate(0.000px,574.534px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,574.534px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:522.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,574.534px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,574.534px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:858.00px;
}
#_idContainer041 {
	-ms-transform:translate(-0.154px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.154px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.154px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.154px,-1.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:416.86px;
}
#_idContainer042 {
	-ms-transform:translate(1543.253px,443.858px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1543.253px,443.858px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:632.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1543.253px,443.858px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1543.253px,443.858px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:272.89px;
}
#_idContainer043 {
	-ms-transform:translate(1639.188px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1639.188px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:535.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1639.188px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1639.188px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:280.81px;
}
#_idContainer044 {
	-ms-transform:translate(1497.129px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1497.129px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:255.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1497.129px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1497.129px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:422.87px;
}
#_idContainer045 {
	-ms-transform:translate(1061.821px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.821px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:255.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.821px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.821px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:435.31px;
}
#_idContainer046 {
	-ms-transform:translate(1061.821px,255.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.821px,255.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:288.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.821px,255.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.821px,255.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:858.18px;
}
#_idContainer047 {
	-ms-transform:translate(1061.821px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1061.821px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:547.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1061.821px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1061.821px,543.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:577.37px;
}
#_idContainer048 {
	-ms-transform:translate(0.000px,291.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,291.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:788.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,291.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,291.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:581.53px;
}
#_idContainer049 {
	-ms-transform:translate(-1.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:293.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-1.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1064.04px;
}
#_idContainer050 {
	-ms-transform:translate(580.528px,290.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(580.528px,290.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(580.528px,290.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(580.528px,290.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:482.29px;
}
#_idContainer051 {
	-ms-transform:translate(673.986px,398.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(673.986px,398.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:682.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(673.986px,398.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(673.986px,398.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.58px;
}
#_idContainer052 {
	-ms-transform:translate(849.178px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(849.178px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:805.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(849.178px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(849.178px,291.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:590.53px;
}
#_idContainer053 {
	-ms-transform:translate(848.178px,0.159px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(848.178px,0.159px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:292.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(848.178px,0.159px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(848.178px,0.159px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1072.82px;
}
#_idContainer054 {
	-ms-transform:translate(1438.706px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1438.706px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1438.706px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1438.706px,290.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:482.29px;
}
#_idContainer055 {
	-ms-transform:translate(1532.360px,417.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1532.360px,417.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:663.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1532.360px,417.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1532.360px,417.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:313.37px;
}
#_idContainer056 {
	-ms-transform:translate(896.030px,882.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(896.030px,882.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(896.030px,882.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(896.030px,882.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.98px;
}
#_idContainer057 {
	-ms-transform:translate(437.396px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(437.396px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:301.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(437.396px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(437.396px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:411.78px;
}
#_idContainer058 {
	-ms-transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:535.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:437.40px;
}
#_idContainer059 {
	-ms-transform:translate(437.396px,301.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(437.396px,301.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:233.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(437.396px,301.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(437.396px,301.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:411.78px;
}
#_idContainer060 {
	-ms-transform:translate(-0.001px,535.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,535.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:544.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,535.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,535.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:849.18px;
}
#_idContainer061 {
	-ms-transform:translate(830.168px,400.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(830.168px,400.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:260.83px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(830.168px,400.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(830.168px,400.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.83px;
}
#_idContainer062 {
	-ms-transform:translate(797.622px,762.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(797.622px,762.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(797.622px,762.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(797.622px,762.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:324.75px;
}
#_idContainer063 {
	-ms-transform:translate(1487.000px,88.130px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1487.000px,88.130px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1487.000px,88.130px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1487.000px,88.130px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:304.16px;
}
#_idContainer064 {
	-ms-transform:translate(140.016px,78.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(140.016px,78.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:103.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(140.016px,78.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(140.016px,78.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:392.20px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
img._idGenObjectAttribute-3 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(3.105,3.105);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(3.105,3.105);
	-webkit-transform-origin:0% 0%;
	height:84px;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(3.105,3.105);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(3.105,3.105);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:84px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
